/* $VARIABLES */

/* $COLORS */
$color-pri: #FFD15A;
$color-pri-alter: #FFF0C9;
$gray: #8a8fa3;
$gray-two:#727b86;
$gray-three:#666;
$gray-four:#edecec;
$tab_one:#9ca4b5;
$black: #212121;
$black-two: #2c2c2c;
$black-three: #32333c;
$black-four: #56677a;
$white: #ffffff;
$white-two: #FBFBFB;
$white-third: #F6F8FC;
$bg-icon-alter:#dce2ed;
$color-icon-alter: #707b90;

$color-skyblue:#53BCED;
$color-green: #02BB73;
$color-violet: #3E31AE;
$color-red:#DC3737;
$color-organge: #F97C46;
// #FBD214


/* $FONTS */
$font-pri: 'Raleway', sans-serif;

/*  $SHADOW */
$shadow-one: 0px 1px 26px rgb(41 40 40 / 62%);

/* size px*/
$d: 80px;

/* $WEIGHT */
$nw300:300;
$nw400:400;
$nw500:500;
$nw600:600;
$nw700:700;


/*BUTTONS*/
$btn-border: 2px solid $color-pri;
$btn-padd: 20px 75px;

/* $TITLE */
$lhsize1: 1;
$lhsize1_2:1.2;
$lhsize1_3:1.3;
$lhsize1_4:1.4;
$lhsize1_5:1.5;
$lhsize1_6:1.6;
$lhsize1_7:1.7;
$lhsize1_8:1.8;
$lhsize1_9:1.9;
$lhsize2:2;
$title-fzise1:45px;
$title-fzise2:35px;


/* $HTML FONT-SIZE */
$font-html: 100%;

/*size letter*/
$size-letter:16px;


/* VIEWPORT, BREAKPOINT*/
$mxwidth-desktop: 1200px;
$width-desktop:78%;
$view-margin:auto;
$view-mobile: 600px;

/*Z-INDEX*/
$zindex-1:1;
$zindex-10:10;
$zindex-100:100;
$zindex-1000:1000;

/*PADDINGS SECTIONS*/
$padd_section: 70px 0;
$margin-sone:50px;
